###### Suicide Case Study Analysis - NumPy

In [ ]:
Suicide is a serious public health problem.

The World Health Organization (WHO) estimates that every year close to 800 000 people take their own life,
which is one person every 40 seconds and there are many more people who attempt suicide. 

Suicide occurs throughout the lifespan and was the second leading cause of death among 15-29-year-olds globally in 2016.

###### Dataset:

In [ ]:
This Dataset is based on suicide rates in India.

There are a total of 237520 rows and 7 columns in this dataset.

By using this dataset this data analysis project is created.

###### 1. Extracting data from dataset

In [1]:
import numpy as np

data = np.genfromtxt("Suicides in India 2001-2012.csv",delimiter=",",dtype=str)

print("Values in dataset:-\n\n",data)

Values in dataset:-

 [['State' 'Year' 'Type_code' ... 'Gender' 'Age_group' 'Total']
 ['A & N Islands' '2001' 'Causes' ... 'Female' '0-14' '0']
 ['A & N Islands' '2001' 'Causes' ... 'Female' '0-14' '0']
 ...
 ['West Bengal' '2012' 'Social_Status' ... 'Male' '0-100+' '5451']
 ['West Bengal' '2012' 'Social_Status' ... 'Male' '0-100+' '189']
 ['West Bengal' '2012' 'Social_Status' ... 'Male' '0-100+' '2658']]

In [2]:
data = data[1:,:]

data

array([['A & N Islands', '2001', 'Causes', ..., 'Female', '0-14', '0'],
       ['A & N Islands', '2001', 'Causes', ..., 'Female', '0-14', '0'],
       ['A & N Islands', '2001', 'Causes', ..., 'Female', '0-14', '0'],
       ...,
       ['West Bengal', '2012', 'Social_Status', ..., 'Male', '0-100+',
        '5451'],
       ['West Bengal', '2012', 'Social_Status', ..., 'Male', '0-100+',
        '189'],
       ['West Bengal', '2012', 'Social_Status', ..., 'Male', '0-100+',
        '2658']], dtype='<U46')

###### 2. Shape of the dataset

In [10]:
data.shape

(237519, 7)

###### 3. Extracting Unique data from columns in the dataset

In [13]:
np.unique(data[:,0]) # Extracting unique values from column1 (State) in the dataset

array(['A & N Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam',
       'Bihar', 'Chandigarh', 'Chhattisgarh', 'D & N Haveli',
       'Daman & Diu', 'Delhi (Ut)', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha',
       'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'State',
       'Tamil Nadu', 'Total (All India)', 'Total (States)', 'Total (Uts)',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype='<U46')

In [14]:
np.unique([data[:,4]]) # Extracting unique values from column5 (Gender) in the dataset

array(['Female', 'Gender', 'Male'], dtype='<U46')

In [15]:
np.unique(data[:,1]) # Extracting unique values from column2(Year) in the dataset

array(['2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', 'Year'], dtype='<U46')

In [16]:
np.unique(data[:,2]) # Extracting unique values from column3 (Type_code) in the dataset

array(['Causes', 'Education_Status', 'Means_adopted',
       'Professional_Profile', 'Social_Status', 'Type_code'], dtype='<U46')

###### 4. Data Filteration

In [17]:
Punjab = data[data[:,0]=='Punjab'] # Extracting all rows related to punjab state from the dataset

Punjab

array([['Punjab', '2001', 'Causes', ..., 'Female', '0-14', '0'],
       ['Punjab', '2001', 'Causes', ..., 'Female', '0-14', '0'],
       ['Punjab', '2001', 'Causes', ..., 'Female', '0-14', '0'],
       ...,
       ['Punjab', '2012', 'Social_Status', ..., 'Male', '0-100+', '4'],
       ['Punjab', '2012', 'Social_Status', ..., 'Male', '0-100+', '299'],
       ['Punjab', '2012', 'Social_Status', ..., 'Male', '0-100+', '470']],
      dtype='<U46')

In [18]:
np.savetxt("Punjab.csv",Punjab,fmt='%s',delimiter=",")

x=np.loadtxt("Punjab.csv", delimiter=",",dtype='str')

x

array([['Punjab', '2001', 'Causes', ..., 'Female', '0-14', '0'],
       ['Punjab', '2001', 'Causes', ..., 'Female', '0-14', '0'],
       ['Punjab', '2001', 'Causes', ..., 'Female', '0-14', '0'],
       ...,
       ['Punjab', '2012', 'Social_Status', ..., 'Male', '0-100+', '4'],
       ['Punjab', '2012', 'Social_Status', ..., 'Male', '0-100+', '299'],
       ['Punjab', '2012', 'Social_Status', ..., 'Male', '0-100+', '470']],
      dtype='<U46')

In [19]:
AP = data[data[:,0]=='Andhra Pradesh'] # Extracting all rows related to punjab state from the dataset

print(AP)

print("=======================================")

np.savetxt("Andhra_Pradesh.csv",AP,fmt='%s',delimiter=",")

x1=np.loadtxt("Andhra_Pradesh.csv", delimiter=",",dtype='str')

x1

[['Andhra Pradesh' '2001' 'Causes' ... 'Female' '0-14' '0']
 ['Andhra Pradesh' '2001' 'Causes' ... 'Female' '0-14' '4']
 ['Andhra Pradesh' '2001' 'Causes' ... 'Female' '0-14' '0']
 ...
 ['Andhra Pradesh' '2012' 'Social_Status' ... 'Male' '0-100+' '261']
 ['Andhra Pradesh' '2012' 'Social_Status' ... 'Male' '0-100+' '1136']
 ['Andhra Pradesh' '2012' 'Social_Status' ... 'Male' '0-100+' '7813']]
=======================================

array([['Andhra Pradesh', '2001', 'Causes', ..., 'Female', '0-14', '0'],
       ['Andhra Pradesh', '2001', 'Causes', ..., 'Female', '0-14', '4'],
       ['Andhra Pradesh', '2001', 'Causes', ..., 'Female', '0-14', '0'],
       ...,
       ['Andhra Pradesh', '2012', 'Social_Status', ..., 'Male', '0-100+',
        '261'],
       ['Andhra Pradesh', '2012', 'Social_Status', ..., 'Male', '0-100+',
        '1136'],
       ['Andhra Pradesh', '2012', 'Social_Status', ..., 'Male', '0-100+',
        '7813']], dtype='<U46')

In [20]:
# Punjab 2008 - Extracting all rows related to punjab state in 2008 year from the dataset

Punjab = data[data[:,0]=='Punjab']

Punjab2008 = Punjab[Punjab[:,1]=='2008']

Punjab2008

array([['Punjab', '2008', 'Causes', ..., 'Female', '0-14', '0'],
       ['Punjab', '2008', 'Causes', ..., 'Female', '0-14', '1'],
       ['Punjab', '2008', 'Causes', ..., 'Female', '0-14', '0'],
       ...,
       ['Punjab', '2008', 'Social_Status', ..., 'Male', '0-100+', '4'],
       ['Punjab', '2008', 'Social_Status', ..., 'Male', '0-100+', '404'],
       ['Punjab', '2008', 'Social_Status', ..., 'Male', '0-100+', '10']],
      dtype='<U46')

In [21]:
data[(data[:,0]=='Punjab') & (data[:,1]=='2008')] # Another way

array([['Punjab', '2008', 'Causes', ..., 'Female', '0-14', '0'],
       ['Punjab', '2008', 'Causes', ..., 'Female', '0-14', '1'],
       ['Punjab', '2008', 'Causes', ..., 'Female', '0-14', '0'],
       ...,
       ['Punjab', '2008', 'Social_Status', ..., 'Male', '0-100+', '4'],
       ['Punjab', '2008', 'Social_Status', ..., 'Male', '0-100+', '404'],
       ['Punjab', '2008', 'Social_Status', ..., 'Male', '0-100+', '10']],
      dtype='<U46')

In [22]:
# Punjab 2008 Male - Extracting all rows related to gender-male of 2008 year of punjab state from the dataset


data[(data[:,0]=='Punjab') & (data[:,1]=='2008') & (data[:,4]=='Male')]

array([['Punjab', '2008', 'Causes', ..., 'Male', '0-14', '1'],
       ['Punjab', '2008', 'Causes', ..., 'Male', '0-14', '0'],
       ['Punjab', '2008', 'Causes', ..., 'Male', '0-14', '0'],
       ...,
       ['Punjab', '2008', 'Social_Status', ..., 'Male', '0-100+', '4'],
       ['Punjab', '2008', 'Social_Status', ..., 'Male', '0-100+', '404'],
       ['Punjab', '2008', 'Social_Status', ..., 'Male', '0-100+', '10']],
      dtype='<U46')

In [ ]:
# Convert Datatype

In [25]:
print(data[:,6])

data[:,6].astype('str')

['Total' '0' '0' ... '5451' '189' '2658']

array(['Total', '0', '0', ..., '5451', '189', '2658'], dtype='<U46')

In [28]:
data[:,6].astype('int').sum()

ValueError: invalid literal for int() with base 10: 'Total'

https://machinelearning.org.in/suicide-case-study-numpy/